:root {
  --c-blue: #080D43;
  --af-white: #F5E9F9;
  --x-purple: #A929EE;
  --h-purple: #E26CFF;
  --f-violet: #7A0BD1;
  --di-blue: #170D7D;
}

body {
    font-family: 'Righteous', helvetica;
    background-color: var(--af-white);
    display: flex;
}

header {
  display: block;
  text-align: center;
  font-size: 50px;
  background-color: var(--c-blue);
  color: var(--h-purple);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.25em 0 0.25em 0;
}

.playerContainer {
  border: 3px solid var(--c-blue);
  background-color: var(--c-blue);
  width: 500px;
  position: fixed;
  display: flex;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.players {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  flex-direction: column;
  display: flex;
  font-size: 25px;
  color: var(--h-purple);
}

.choice-btn {
  background-color: var(--f-violet);
  color: var(--af-white);
  border: 2px solid var(--f-violet);
  border-radius: 1em;
  margin-bottom: 10px;
  font-family: "Righteous";
}

.choice-btn:hover {
  cursor: pointer;
}

.choice-btn:active {
  background-color: var(--af-white);
  color: var(--f-violet);
}

.board-container {
  position: fixed;
  display: grid;
  grid-template:
              'a b c' 1fr
              'a b c' 1fr
              'a b c' 1fr;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--c-blue);
  background-color: var(--af-white);
  width: 500px;
  height: 500px;
}


.play-btn {
  background-color: var(--f-violet);
  color: var(--af-white);
  border: 1px solid var(--af-white);
  font-size: 50px;
  font-family: "Righteous";
}

.play-btn:hover {
  cursor: pointer;
}

.play-btn:active {
  background-color: var(--af-white);
  color: var(--f-violet);
}

#footer {
  color: var(--c-blue);
  position: fixed;
  left: 0;
  bottom: 10px;
  line-height: 15px;
  width: 100%;
  text-align: center;
}
