:root {
  --c-blue: #080D43;
  --af-white: #F5E9F9;
  --x-purple: #A929EE;
  --h-purple: #E26CFF;
  --f-violet: #7A0BD1;
  --di-blue: #170D7D;
}

body {
    font-family: 'Righteous', helvetica;
    background-color: var(--af-white);
    display: flex;
}

header {
  display: block;
  text-align: center;
  font-size: 50px;
  background-color: var(--c-blue);
  color: var(--h-purple);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.25em 0 0.25em 0;
}

.playerContainer {
  width: 500px;
  position: fixed;
  display: flex;
  top: 18%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.players {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  flex-direction: column;
  display: flex;
  font-size: 25px;
  width: 82px;
  color: var(--h-purple);
}

.active {
  background-color: var(--h-purple);
  color: var(--af-white);
  border-radius: 50%;
}

.start-btn {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#start {
  background-color: var(--f-violet);
  color: var(--af-white);
  border: 2px solid var(--f-violet);
  border-radius: 1em;
  margin-bottom: 10px;
  font-family: "Righteous";
  font-size: 25px;
}

#start:hover {
  cursor: pointer;
}

#start:active {
  background-color: var(--af-white);
  color: var(--f-violet);
}

.choice-btn {
  background-color: var(--f-violet);
  color: var(--af-white);
  border: 2px solid var(--f-violet);
  border-radius: 1em;
  margin-bottom: 10px;
  font-family: "Righteous";
}

.choice-btn:hover {
  cursor: pointer;
}

.choice-btn:active {
  background-color: var(--af-white);
  color: var(--f-violet);
}

.board-container {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--af-white);
  width: 400px;
  height: 400px;
}


.play-btn {
  background-color: var(--af-white);
  color: var(--f-violet);
  border: 1px solid var(--f-violet);
  font-size: 50px;
  width: 133.3px;
  height: 133.3px;
  justify-content: center;
  font-family: "Righteous";
}

.play-btn:hover {
  cursor: pointer;
}

.play-btn:active {
  background-color: var(--f-violet);
  color: var(--f-violet);
}

.btn1, .btn2, .btn3 {
  border-top: none;
}

.btn1, .btn4, .btn7 {
  border-left: none;
}

.btn7, .btn8, .btn9 {
  border-bottom: none;
}

.btn3, .btn6, .btn9 {
  border-right: none;
}

.winner {
  position: fixed;
  text-align: center;
  display: none;
  opacity: 75%;
  top: 55%;
  left: 50%;
  border-radius: 12.5%;
  transform: translate(-50%, -50%);
  background-color: var(--c-blue);
  color: var(--af-white);
  width: 300px;
  height: 250px;
}

.winner h1 {
  margin-top: 3em;
}

.reset {
  position: fixed;
  display: flex;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.rst-btn {
  background-color: var(--f-violet);
  color: var(--af-white);
  border: 2px solid var(--f-violet);
  border-radius: 1em;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "Righteous";
}

.rst-btn:hover {
  cursor: pointer;
}

.rst-btn:active {
  background-color: var(--af-white);
  color: var(--f-violet);
}

.footer {
  color: var(--c-blue);
  position: fixed;
  left: 0;
  bottom: 10px;
  line-height: 15px;
  width: 100%;
  text-align: center;
}
